<div class="container card my-2 align-items-center ">
  <div class="row ">
    <div class="col-12 col-lg-10">
      <%= render partial: 'programs/show', locals: {program: @program} %>
    </div>
  </div>
</div>
