<div class="footer">
   <div class="footer-text">
    <h4>Careers</h4>
      <p><%= link_to 'Browse Programs', programs_path  %></p>
      <p><%= link_to 'Browes Careers', career_options_path  %></p>
  </div>
  <div class="footer-text">
    <h4>Company</h4>
      <p><%= link_to 'Contact Us', contact_path  %></p>
      <p><%= link_to 'Team', team_path  %></p>
  </div>
  <div class="footer-text">
    <h4>Third section</h4>
      <p>Filler for now</p>
  </div>
  <div class="footer-copyright">
    Thanks for visiting <i class="fas fa-heart"></i> us!
  </div>
</div>
